




#tt{
    float:inherit;
    font-family: 'Times New Roman', Times, serif;
}
body{

    background-color: rgba(128, 128, 128, 0.219)
}
p{

        margin: auto;
        font-family: Arial, Helvetica, sans-serif;
        }
        ul{
        float: right;
        margin-top: -200px;
        }