body {
  background-color: #efeee7;
}

header {
  text-align: center;
  color: white;
  background-color: #333;
  padding: 5px;
  font-size: 18px;
  margin: -10px;
}
#name {
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 10px;
  margin-top: 50px;
}
img {
  margin-left: 10px;
  border: 1px solid black;
}
p {
  font-style: normal;
  width: 500px;
  margin-left: 240px;
  margin-top: -200px;
}
#alt {
  display: flex;
  justify-content: flex-end;
  margin-right: 50px;
  margin-top: -30px;
}
#tt {
  display: block;

  padding-bottom: -100px;
  margin-top: -100px;
  margin-right: -150px;
}
ul {
  margin-top: -50px;
}

a {
  color: rgba(255, 0, 0, 0.808);
}
